{% extends 'components/base.html' %}
{% load static %}
{% block title %}Axion | Car Delete {% endblock %}

{% block body %}


<h1 class="text-center">Car Delete</h1>
<a href="/car/list/" class="btn btn-success">Go Back To Car list Page</a>
<div>
    <div class="modal-dialog">
        <form class="modal-content" method="POST" action="/car/delete/{{car.id}}/">
            {% csrf_token %}
            <div class="modal-header">
                <h5 class="modal-title">{{car.car_name}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure?</p>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">Yes</button>
                <button type="button" onclick="window.location.href='/car/list/'" class="btn btn-danger">No</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}